# .gitignore for php-symfony-rabbit
# Symfony standard ignores
/var/
/public/bundles/
/config/secrets/prod/prod.decrypt.private.php
/.env.local
/.env.local.php
/.env.*.local

# Composer
/vendor/
/composer.phar

# PHPUnit
.phpunit.result.cache

# IDEs
/.idea/
/.vscode/
*.iml

# Logs, cache, build
/logs/
coverage/
build/

# Node
/node_modules/

# Misc
*.log
*.cache
*.tmp

###> symfony/framework-bundle ###
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
###< phpunit/phpunit ###
