version: "3.8"

x-volume-root-project: &volume_root_project "./:/var/www/html"

networks:
  docker:
    driver: bridge

services:

  app:
    restart: always
    build:
      context: ./docker/php-fpm
      dockerfile: Dockerfile
    volumes:
      - *volume_root_project
#      - ./docker/php-fpm/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    networks:
      - docker
    environment:
      PHP_IDE_CONFIG: "serverName=app"
    depends_on:
      - redis
      - rabbitmq

  worker:
    restart: always
    build:
      context: ./docker/php-fpm
      dockerfile: Dockerfile
    volumes:
      - *volume_root_project
    networks:
      - docker
    entrypoint: ["worker-entrypoint.sh"]
    command: []
    depends_on:
      - app
      - redis
      - rabbitmq

  nginx:
    restart: always
    image: nginx:latest
    volumes:
      - "./docker/nginx/conf.d:/etc/nginx/conf.d:ro"
      - *volume_root_project
    networks:
      - docker
    ports:
      - "8090:80"
    depends_on:
      - app

  redis:
    restart: always
    image: redis:latest
    volumes:
      - "redis-data:/data"
    ports:
      - "16379:6379"
    networks:
      - docker
    command: redis-server --appendonly yes

  rabbitmq:
    restart: always
    image: rabbitmq:3-management
    volumes:
      - "rabbitmq-data:/var/lib/rabbitmq"
    ports:
      - "15673:15672"
      - "5673:5672"
    environment:
      RABBITMQ_ERLANG_COOKIE: $RABBITMQ_ERLANG_COOKIE
      RABBITMQ_DEFAULT_USER: $RABBITMQ_DEFAULT_USER
      RABBITMQ_DEFAULT_PASS: $RABBITMQ_DEFAULT_PASS
    networks:
      - docker

volumes:
  rabbitmq-data:
  redis-data:
